{{#if editAnswerForm}}
<h4>Update answer</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="content">Your Answer:</label>
        {{input value=content id="content" placeholder=answer.content}}
      </div>

      <button class="but" {{action 'editAnswer' answer}}>Save</button>
    </form>
  </div>
{{else}}
  <button class="but" {{action 'editAnswerForm'}}>Change Answer</button>
{{/if}}
